body{
    margin: 0;padding: 0;
    background-color: grey;

}
.book_page{
    width: 500px;
    margin: 80px auto 0;
    border: 1.5px solid black;
}
.chapter{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    text-align: center;
}
span{
    font-size: 33px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    display: block;
}
h2{
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.para{
    padding-top: 64px;
    text-align: justify;
}
.para::first-letter{
    font-size: 35px;
    float: left;
    
}
.pn{
    text-align: center;
}
.border
{
    margin: 10px auto;
    border: 2px double rgb(23, 56, 241);
    width:850px;
    box-shadow: 1px 1px rgb(16, 19, 235);
}